alembic==1.14.0
apispec==6.8.1
apispec_webframeworks==1.2.0
argon2-cffi==23.1.0
colorama==0.4.6
Flask==3.1.0
flask_swagger_ui==4.11.1
marshmallow==3.26.0
psycopg2==2.9.9
PyVirtualDisplay==3.0
selenium==4.28.1
SQLAlchemy==2.0.36
user_agents==2.2.0
Werkzeug==3.1.3
zstandard==0.23.0
