.admin-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#userDisplay {
    align-self: center;
    margin-bottom: 2rem;
    overflow: visible;
    padding: 0.5rem;
}

#adminDisplay {
    align-self: center;
    background-color: var(--content-background);
    border-radius: 1rem;
    display: flexbox;
    flex: 1 1 auto;
    height: 90vh;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: all 0.3s;
    width: 20vh;
}

#userSearch {
    width: 73%;
}

#addUserButton {
    width: 25%;
}

#submitUserButton {
    width: 20%;
}

#logSearch {
    width: 100%;
}

#logList {
    height: calc(100% - 5.5rem);
    max-width: 100%;
    overflow-y: scroll;
    width: 100%;
}

.options-list {
    align-self: center;
    background-color: var(--main-background);
    color: var(--main-foreground);
    flex: 0 0 auto;
    height: 80vh;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: auto;
    position: relative;
    width: 15vw;
}

.options-list ul {
    background-color: var(--content-background);
    border-radius: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options-list ul a li {
    border-color: var(--main-foreground);
    padding: 0.8rem;
}

.options-list ul a li.options-list-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.options-list ul a li.options-list-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.options-list ul a {
    color: var(--main-foreground);
    text-decoration: none;
}

.panel-controls {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
}

.panel-controls-top {
    margin-bottom: 1.5rem;
}

.panel-controls-bottom {
    bottom: 0;
    margin-top: 1.5rem;
    padding: 1rem;
    position: absolute;
    right: 0;
}

.log-folder {
    height: auto;
}

.log-subtree {
    margin-bottom: 0.4rem;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
    padding-left: 0;
    pointer-events: auto;
}

.log-table {
    border-collapse: separate;
    border-radius: 1rem;
    border-spacing: 0;
    overflow: hidden;
    table-layout: fixed;
    width: calc(100% - 0.4rem);
}

.log-table tbody {
    font-family: var(--bs-font-monospace);
    font-size: 0.8rem;
}

.log-table thead tr th {
    background-color: var(--hover-background);
    border-bottom: 0.2rem solid var(--main-background);
    border-top: 0.2rem solid var(--main-background);
    padding: 0.5rem;
    text-align: center;
}

.log-table tbody tr td {
    border-bottom: 1px solid var(--main-background);
    border-top: 1px solid var(--main-background);
}

.log-table thead tr th:first-of-type,
.log-table tbody tr td:first-of-type {
    border-left: 0.2rem solid var(--main-background);
}

.log-table thead tr th:last-of-type,
.log-table tbody tr td:last-of-type {
    border-right: 0.2rem solid var(--main-background);
}

.log-table tbody tr:last-of-type td {
    border-bottom: 0.2rem solid var(--main-background);
}

.log-display {
    padding: 0.3rem;
}

.log-time {
    max-width: 11rem;
    width: 11rem;
}

.log-component {
    max-width: 8rem;
    width: 8rem;
}

.log-message {
    overflow-wrap: break-word;
    white-space: normal;
    width: auto;
    word-wrap: break-word;
}

.log-table thead tr th:first-of-type {
    border-top-left-radius: 1rem;
}

.log-table thead tr th:last-of-type {
    border-top-right-radius: 1rem;
}

.log-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 1rem;
}

.log-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 1rem;
}

.log-row {
    cursor: pointer;
}

.log-level-debug {
    background-color: #006400;
}

.log-level-debug:hover {
    background-color: #008000;
}

.log-level-info {
    background-color: var(--content-background);
}

.log-level-info:hover {
    background-color: var(--hover-background);
}

.log-level-warning {
    background-color: #B8860B;
}

.log-level-warning:hover {
    background-color: #DAA520;
}

.log-level-error {
    background-color: #8B0000;
}

.log-level-error:hover {
    background-color: #B22222;
}

.log-level-critical {
    background-color: #660000;
}

.log-level-critical:hover {
    background-color: #880000;
}

.log-table th:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.log-table th:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

.log-table td.log-display:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.log-table td.log-display:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.log-full-message td {
    border: none;
    background-color: var(--console-background);
    color: var(--console-foreground);
    padding: 0;
}

.log-full-message td .log-message-display {
    margin-top: auto;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
    padding: 0.3rem;
    transition: all 0.3s;
}

.log-full-message.collapsed td .log-message-display {
    margin-top: -100%;
    max-height: 0;
    padding: 0 0.3rem;
}

.log-full-message.collapsed.last {
    display: flex;
    height: 0;
}