.admin-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#userDisplay {
    align-self: center;
    margin-bottom: 2rem;
    overflow: visible;
    padding: 0.5rem;
}

#adminDisplay {
    align-self: center;
    background-color: var(--content-background);
    border-radius: 1rem;
    display: flexbox;
    flex: 1 1 auto;
    height: 90vh;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    transition: all 0.3s;
    width: 20vh;
}

#userSearch {
    height: 2.5rem;
    width: 73%;
}

#addUserButton {
    height: 2.5rem;
    width: 25%;
}

#submitUserButton {
    height: 2.5rem;
    width: 20%;
}

.options-list {
    align-self: center;
    background-color: var(--main-background);
    color: var(--main-foreground);
    flex: 0 0 auto;
    height: 80vh;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: auto;
    position: relative;
    width: 15vw;
}

.options-list ul {
    background-color: var(--content-background);
    border-radius: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options-list ul a li {
    border-color: var(--main-foreground);
    padding: 0.8rem;
}

.options-list ul a li.options-list-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.options-list ul a li.options-list-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.options-list ul a {
    color: var(--main-foreground);
    text-decoration: none;
}

.panel-controls {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
}

.panel-controls-top {
    margin-bottom: 1.5rem;
}

.panel-controls-bottom {
    bottom: 0;
    margin-top: 1.5rem;
    padding: 1rem;
    position: absolute;
    right: 0;
}