:root {
    --console-background: #111111;
    --console-foreground: #d1d1d1;
    --console-highlight: #323232;
    --content-background: #343a40;
    --corner-rounding: 0.4rem;
    --hover-background: #495057;
    --hover-foreground: #bcbcbc;
    --hover-glow: rgba(114, 185, 236, 0.45);
    --hover-highlight: #72b9ec;
    --main-background: #1f2225;
    --main-foreground: #efefef;
    --main-midground: #888888;
    --sidebar-width-collapsed: 3rem;
    --sidebar-width-expanded: 15vw;
    --static-tag-background: #ef184a;
    --static-tag-hover-background: #c2113a;
    --tag-background: #007bff;
    --tag-hover-background: #0a66c9;
}

@keyframes horizontal-shake {
    0% {
        transform: translateX(0);
    }

    12% {
        transform: translateX(0.25rem);
    }

    25% {
        transform: translateX(0);
    }

    37% {
        transform: translateX(-0.25rem);
    }

    50% {
        transform: translateX(0);
    }

    62% {
        transform: translateX(0.25rem);
    }

    75% {
        transform: translateX(0);
    }

    87% {
        transform: translateX(-0.25rem);
    }

    100% {
        transform: translateX(0);
    }
}

body {
    background-color: var(--main-background);
    color: var(--main-foreground);
    display: flex;
    margin: 0;
    padding: 0;
}

#siteInfo {
    bottom: 0;
    display: block;
    margin-top: auto;
    position: fixed;
    right: 0;
}

#siteInfo p {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    padding-right: 0.5rem;
    text-align: right;
}

#toastContainer {
    bottom: 2.5rem;
    margin-right: 0.5rem;
    overflow: visible;
    position: absolute;
    right: 0;
}

.main-content {
    height: 100vh;
    padding: 0.5rem;
    transition: margin-left 0.3s;
    width: 100%;
}

.dynamic-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    width: 100%;
    z-index: 10;
}

.form-control {
    border: 2px solid var(--main-background);
    border-radius: var(--corner-rounding);
    transition: box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    box-shadow: 0 0 0 0.15rem var(--hover-glow);
    color: var(--main-background);
}

.form-input {
    background-color: var(--main-foreground);
    border: 2px solid var(--main-background);
    border-radius: var(--corner-rounding);
    color: var(--main-background);
    height: 2.5rem;
    outline: none;
    padding: 0.5rem;
    transition: box-shadow 0.15s ease-in-out;
}

.form-input::placeholder {
    color: var(--bs-secondary-color);
    font-style: italic;
}

.form-input:focus {
    border: 2px solid var(--main-background);
    box-shadow: 0 0 0 0.15rem var(--hover-glow);
}

.form-input.bad-value {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: horizontal-shake;
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 0.15rem var(--bs-red);
}

.hidden {
    display: none;
}

.secondary-text {
    color: var(--main-midground);
    font-style: italic;
}

.username {
    font-weight: bold;
}

.back-hoverable {
    background-color: var(--content-background);
    transition: background-color 0.3s, color 0.3s;
}

.back-hoverable:hover:not(:disabled) {
    background-color: var(--hover-background);
}

.text-hoverable {
    color: var(--main-foreground);
    transition: background-color 0.3s, color 0.3s;
}

.text-hoverable:hover:not(:disabled) {
    color: var(--hover-highlight);
}

.text-hoverable .hover-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.text-hoverable:hover:not(:disabled) .hover-hidden {
    opacity: 1;
}

.color-hoverable {
    background-color: var(--hover-background);
    color: var(--main-foreground);
    transition: background-color 0.3s, color 0.3s;
}

.color-hoverable:hover:not(:disabled) {
    background-color: var(--hover-highlight);
}

.color-hoverable .hover-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.color-hoverable:hover:not(:disabled) .hover-hidden {
    opacity: 1;
}

.plain-link {
    text-decoration: none;
}

.fadeable {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.fadeable-faded {
    opacity: 0;
}

.flipped {
    transform: rotate(180deg);
}

.inverted {
    color: var(--main-midground);
}

.inverted:hover {
    color: var(--main-foreground);
}

.spinner-border {
    color: var(--main-foreground);
}

.scroll-shadow-wrapper {
    overflow: hidden;
    position: relative;
}

.scroll-shadow-wrapper::before,
.scroll-shadow-wrapper::after {
    content: "";
    height: 2rem;
    left: 0.15rem;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.1s ease-in-out;
    width: calc(100% - 0.3rem);
    z-index: 2;
}

.scroll-shadow-wrapper::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    top: 2.8rem;
}

.scroll-shadow-wrapper::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    bottom: 0rem;
}

.scroll-shadow-wrapper.show-top-gradient::before,
.scroll-shadow-wrapper.show-bottom-gradient::after {
    opacity: 1;
}

.svg-logo {
    fill: currentcolor;
    height: 2.3rem;
    width: 2.3rem;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 1rem;
    position: relative;
    width: 1rem;
}

.icon-btn i {
    height: 1rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1rem;
}

.circle-icon-btn {
    align-items: center;
    background-color: var(--main-background);
    border: none;
    border-radius: 50%;
    color: var(--main-foreground);
    cursor: pointer;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 2rem;
}

.circle-icon-btn:disabled {
    background-color: var(--hover-background);
    cursor: default;
}

.sidebar {
    background-color: var(--content-background);
    border-bottom-right-radius: var(--corner-rounding);
    border-top-right-radius: var(--corner-rounding);
    box-shadow: var(--bs-box-shadow);
    color: var(--main-foreground);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar.sidebar-expanded {
    width: min(var(--sidebar-width-expanded), 12rem);
}

.sidebar.sidebar-collapsed {
    width: var(--sidebar-width-collapsed);
}

.main-content.sidebar-expanded {
    margin-left: min(var(--sidebar-width-expanded), 12rem);
}

.main-content.sidebar-collapsed {
    margin-left: var(--sidebar-width-collapsed);
}

.sidebar-items {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sidebar-item {
    align-items: center;
    color: var(--main-foreground);
    display: flex;
    height: var(--sidebar-width-collapsed);
    text-decoration: none;
}

.sidebar-items-bottom {
    bottom: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}

.sidebar-icon {
    align-items: center;
    display: flex;
    height: var(--sidebar-width-collapsed);
    justify-content: center;
    width: var(--sidebar-width-collapsed);
}

.sidebar-icon i {
    font-size: 1.4rem;
}

.sidebar-item .sidebar-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-expanded .sidebar-item .sidebar-text {
    opacity: 1;
}

.modal-content {
    background-color: var(--content-background);
    border-radius: var(--corner-rounding);
    color: var(--main-foreground);
    padding-bottom: 0;
    padding-top: 0;
}

.modal-content div {
    border: none;
}

.modal-header {
    justify-content: space-between;
}

.modal-body {
    padding: 0 1rem;
}

.toast-container {
    min-width: 20rem;
    right: 0;
}

.toast-container .toast {
    margin-bottom: 0.8rem;
}

.popover {
    background-color: var(--hover-foreground);
    border: none;
    box-shadow: var(--bs-box-shadow-lg);
    color: var(--main-background);
    max-width: 20rem;
}

.popover-header {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    text-align: center;
}

.popover .popover-arrow {
    box-shadow: var(--bs-box-shadow-lg);
}

.popover .popover-arrow::before,
.popover .popover-arrow::after {
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.popover.bs-popover-top .popover-arrow:after,
.popover.bs-popover-auto .popover-arrow:after {
    border-top-color: var(--hover-foreground);
}

.popover.bs-popover-end .popover-arrow:after {
    border-right-color: var(--hover-foreground);
}

.popover.bs-popover-bottom .popover-arrow:after {
    border-bottom-color: var(--hover-foreground);
}

.popover.bs-popover-start .popover-arrow:after {
    border-left-color: var(--hover-foreground);
}

.popover-body {
    color: inherit;
    padding: 0.5rem;
    text-align: center;
}

.toast {
    background-color: var(--main-background);
    border-radius: var(--corner-rounding);
    box-shadow: var(--bs-box-shadow);
    left: 25rem;
    max-width: 20rem;
    position: relative;
    transition: all 0.3s;
}

.toast-header,
.toast-body {
    padding: 0.5rem;
    width: 20rem;
}

.toast-header {
    border-top-left-radius: var(--corner-rounding);
    border-top-right-radius: var(--corner-rounding);
    cursor: default;
}

.toast-body {
    background-color: var(--main-background);
    border-bottom-left-radius: var(--corner-rounding);
    border-bottom-right-radius: var(--corner-rounding);

    color: var(--main-foreground)
}

.toast-timer-bar {
    background-color: var(--main-background);
    border-bottom: 0.2rem solid var(--hover-highlight);
    height: 0;
    max-width: 0;
}

.item-btn {
    border-color: var(--hover-background);
    border-radius: var(--corner-rounding);
    border-style: solid;
    font-weight: bold;
    height: 2.5rem;
}

.item-list {
    box-shadow: var(--bs-box-shadow);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-row {
    background-color: var(--content-background);
    border-color: var(--main-background);
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    cursor: pointer;
    padding: 0.5rem;
}

.item-row.item-row-top {
    border-top-left-radius: var(--corner-rounding);
    border-top-right-radius: var(--corner-rounding);
}

.item-row.item-row-bottom {
    border-bottom-left-radius: var(--corner-rounding);
    border-bottom-right-radius: var(--corner-rounding);
    border-bottom-style: solid;
}

.item-content {
    align-items: center;
    display: flex;
    position: relative;
}

.multiselect {
    color: var(--main-foreground);
    display: inline-block;
    position: relative;
}

.multiselect-head {
    background-color: var(--hover-background);
    border: none;
    border-radius: var(--corner-rounding);
    color: var(--main-foreground);
    cursor: pointer;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    transition: box-shadow 0.15s ease-in-out;
    width: 100%;
}

.multiselect-head.focus,
.multiselect-head.active {
    box-shadow: 0 0 0 0.15rem var(--hover-glow);
}

.multiselect-head div {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    text-wrap: nowrap;
    width: 100%;
}

.multiselect-head div label {
    margin-right: 0.5rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.multiselect-opts {
    background-color: var(--hover-background);
    border-radius: var(--corner-rounding);
    box-shadow: var(--bs-box-shadow);
    display: none;
    left: 0;
    max-height: 8rem;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 0.2rem);
    width: 100%;
    z-index: 20;
}

.multiselect-opts label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    min-height: 1.2rem;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

.multiselect-opts label:hover {
    background-color: var(--main-midground);
}

.multiselect-opts label input {
    margin-right: 0.4rem;
}

.multiselect.active .multiselect-opts {
    display: block;
}

.pillbox {
    background-color: var(--main-background);
    border-radius: var(--corner-rounding);
    box-shadow: var(--bs-box-shadow);
    display: flex;
    flex-direction: column;
    height: auto;
}

.pillbox-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.55rem;
    height: auto;
    max-height: 10vh;
    min-height: 2rem;
    overflow-y: auto;
    padding: 0.5rem 0.5rem 0.25rem;
    transition: all 0.3s;
    white-space: nowrap;
}

.pillbox-items span {
    align-items: center;
    box-shadow: var(--bs-box-shadow);
    display: inline-flex;
    font-size: 1rem;
    height: 1.5rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.pillbox-controls {
    display: flex;
    height: auto;
    justify-content: end;
    min-height: 0;
    overflow: visible;
    padding: 0.25rem 0.5rem 0.5rem;
    width: 100%;
}

.pillbox-input {
    align-items: center;
    background-color: var(--content-background);
    border-radius: 50%;
    color: var(--main-foreground);
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    position: relative;
    transition: background-color 0.5s, border-radius 0.5s, width 0.5s;
    width: 2rem;
}

.pillbox-input input {
    background-color: var(--main-foreground);
    border: none;
    border-radius: var(--bs-border-radius-sm);
    color: var(--main-background);
    font-size: 1rem;
    font-weight: var(--bs-badge-font-weight);
    height: 1.5rem;
    padding: 0 0.3rem;
    transition: max-width 0.5s, min-width 0.5s, transform 0.3s, width 0.5s;
    width: 0;
}

.pillbox-input input:focus {
    box-shadow: 0 0 0 0.15rem var(--hover-glow);
    outline: none;
}

.pillbox-input.bad-value input,
.pillbox-input.bad-value input:focus {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: horizontal-shake;
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 0.15rem var(--bs-red);
}

.pillbox-input button {
    color: var(--main-foreground);
    transition: background-color 0.3s, color 0.3s, transform 0.5s ease-in-out;
}

.pillbox-input.expanded {
    background-color: var(--main-background);
    border-radius: 0 0 var(--corner-rounding) var(--corner-rounding);
    height: 2.75rem;
    width: 100%;
}

.pillbox-input.expanded input {
    margin-right: 0.5rem;
}

.pillbox-input.expanded .pillbox-input-toggle {
    transform: rotate(45deg);
}

.pillbox-input.expanded .pillbox-input-toggle:hover {
    color: #f22828;
}

.pillbox-input.expanded .pillbox-input-submit {
    margin-right: 0.5rem;
}

.pillbox-input.expanded .pillbox-input-submit:hover {
    color: var(--hover-highlight);
}

.pillbox-input-opts {
    background-color: var(--hover-foreground);
    border-radius: var(--corner-rounding);
    box-shadow: var(--bs-box-shadow);
    color: var(--main-background);
    display: none;
    left: 20%;
    max-height: 8rem;
    overflow-y: auto;
    position: absolute;
    top: calc(100% - 0.4rem);
    width: 50%;
    z-index: 20;
}

.pillbox-input-opts label {
    cursor: pointer;
    display: block;
    font-weight: normal;
    min-height: 1rem;
    padding: 0.2rem 0.5rem;
    transition: background-color 0.3s;
}

.pillbox-input-opts label p {
    font-size: 0.8rem;
    margin-bottom: 0;
    word-wrap: break-word;
}

.pillbox-input-opts label:hover,
.pillbox-input-opts label:focus {
    background-color: var(--main-midground);
}

.pillbox-item {
    box-shadow: var(--bs-box-shadow);
    cursor: pointer;
    min-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0.5rem;
}

.pillbox-item.editable {
    background-color: var(--tag-background);
    color: var(--main-foreground);
}

.pillbox-item.immutable {
    background-color: var(--static-tag-background);
}

.pillbox-item.editable:hover {
    background-color: var(--tag-hover-background);
}

.pillbox-item.immutable:hover {
    background-color: var(--static-tag-hover-background);
}

.pillbox-item button {
    color: inherit;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;
}

.pillbox-item button:hover {
    color: #f22828;
    transform: rotate(90deg);
}