:root {
    --content-background: #343a40;
    --hover-background: #495057;
    --hover-foreground: #72b9ec;
    --hover-glow: rgba(114, 185, 236, 0.25);
    --main-background: #1f2225;
    --main-foreground: #fff;
    --main-midground: #888;
    --sidebar-width-collapsed: 3rem;
    --sidebar-width-expanded: 15vw;
    --tag-background: #007bff;
    --tag-hover-background: #0056b3;
}

body {
    background-color: var(--main-background);
    color: var(--main-foreground);
    display: flex;
    margin: 0;
    padding: 0;
}

input[type=text],
input[type=password] {
    background-color: var(--main-foreground);
    border: 2px solid var(--main-background);
    border-radius: 1rem;
    color: var(--main-background);
    height: 2.5rem;
    outline: none;
    padding: 0.5rem;
}

input[type=text]::placeholder {
    color: var(--bs-secondary-color);
    font-style: italic;
}

input[type=text]:focus,
input[type=password]:focus {
    border: 2px solid var(--hover-foreground);
    box-shadow: 0 0 0 0.2rem var(--hover-glow);
}

#siteInfo {
    bottom: 0;
    display: block;
    margin-top: auto;
    position: fixed;
    right: 0;
}

#siteInfo p {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    padding-right: 0.5rem;
    text-align: right;
}

.main-content {
    height: 100vh;
    padding: 0.5rem;
    transition: margin-left 0.3s;
    width: 100%;
}

.dynamic-content {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    z-index: 10;
}

.form-control {
    border: 2px solid var(--main-background);
    border-radius: 1rem;
}

.form-control:focus {
    border: 2px solid var(--hover-foreground);
    box-shadow: 0 0 0 0.2rem var(--hover-glow);
    color: var(--main-background);
}

.secondary-text {
    color: var(--main-midground);
    font-style: italic;
}

.username {
    font-weight: bold;
}

.text-hoverable {
    background-color: var(--content-background);
    color: var(--main-foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.text-hoverable:hover:not(:disabled) {
    background-color: var(--hover-background);
    color: var(--hover-foreground);
}

.text-hoverable .hover-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.text-hoverable:hover:not(:disabled) .hover-hidden {
    opacity: 1;
}

.color-hoverable {
    background-color: var(--hover-background);
    color: var(--main-foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.color-hoverable:hover:not(:disabled) {
    background-color: var(--hover-foreground);
}

.color-hoverable .hover-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.color-hoverable:hover:not(:disabled) .hover-hidden {
    opacity: 1;
}

.fadeable {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.fadeable-faded {
    opacity: 0;
}

.flipped {
    transform: rotate(180deg);
}

.inverted {
    color: var(--main-midground);
}

.inverted:hover {
    color: var(--main-foreground);
}

.svg-logo {
    fill: currentcolor;
    height: 2.3rem;
    width: 2.3rem;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 1rem;
    padding: none 0.3rem;
    position: relative;
    width: 1rem;
}

.icon-btn i {
    padding: 0.5rem;
    position: absolute;
}

.pagination-btn {
    align-items: center;
    background-color: var(--main-background);
    border: none;
    border-radius: 50%;
    color: var(--main-foreground);
    cursor: pointer;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    padding: 0.5rem;
    transition: background-color 0.3s;
    width: 2rem;
}

.pagination-btn:disabled {
    background-color: var(--hover-background);
    cursor: default;
}

.sidebar {
    background-color: var(--content-background);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    color: var(--main-foreground);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s;
    z-index: 1;
}

.sidebar.sidebar-expanded {
    width: min(var(--sidebar-width-expanded), 12rem);
}

.sidebar.sidebar-collapsed {
    width: var(--sidebar-width-collapsed);
}

.main-content.sidebar-expanded {
    margin-left: min(var(--sidebar-width-expanded), 12rem);
}

.main-content.sidebar-collapsed {
    margin-left: var(--sidebar-width-collapsed);
}

.sidebar-items {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sidebar-item {
    align-items: center;
    color: var(--main-foreground);
    display: flex;
    height: var(--sidebar-width-collapsed);
    text-decoration: none;
}

.sidebar-items-bottom {
    bottom: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}

.sidebar-icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: var(--sidebar-width-collapsed);
    justify-content: center;
    width: var(--sidebar-width-collapsed);
}

.sidebar-icon i {
    font-size: 1.4rem;
}

.sidebar-item .sidebar-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-expanded .sidebar-item .sidebar-text {
    opacity: 1;
}

.modal-content {
    background-color: var(--content-background);
    border-radius: 1rem;
    color: var(--main-foreground);
    padding-bottom: 0;
    padding-top: 0;
}

.modal-content div {
    border: none;
}

.clipboard-btn i {
    top: -0.9rem;
}

.clipboard-btn .fa-clipboard {
    left: -0.3rem;
}

.clipboard-btn .fa-check {
    left: -0.5rem;
}

.item-btn {
    border-color: var(--hover-background);
    border-radius: 1rem;
    border-style: solid;
    font-weight: bold;
    height: 2.5rem;
}

.item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-row {
    background-color: var(--content-background);
    border-color: var(--hover-background);
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    cursor: pointer;
    padding: 0.5rem;
}

.item-row.item-row-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.item-row.item-row-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-style: solid;
}

.item-row .item-content {
    display: flex;
    position: relative;
}

.tag-list {
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 0;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.tag {
    align-content: center;
    background-color: var(--tag-background);
    border-radius: 1rem;
    color: var(--main-foreground);
    font-size: 1rem;
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: var(--tag-hover-background);
}