/* Define CSS variables */
:root {
    --content-background: #343a40;
    --hover-background: #495057;
    --hover-foreground: #72b9ec;
    --main-background: #1f2225;
    --main-foreground: #fff;
    --sidebar-width-collapsed: 55px;
    --sidebar-width-expanded: 140px;
}

body {
    background-color: var(--main-background);
    color: var(--main-foreground);
    display: flex;
    margin: 0;
    padding: 0;
}

/* Main content area */
.main-content {
    height: 100vh;
    padding: 10px;
    transition: margin-left 0.3s;
    width: 100%;
}

.hoverable {
    background-color: var(--content-background);
    color: var(--main-foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hoverable:hover {
    background-color: var(--hover-background);
    color: var(--hover-foreground);
}