{% extends 'base.j2' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}" />
<title>{{ app_name }} Management Panel</title>
{% endblock %}

{% block body %}
<div class="admin-content">
    <div class="options-list">
        <div id="userDisplay">
            Logged in as <span class="username">{{ session["username"] }}</span>
        </div>
        <ul>
            {% set admin_sections = [("General", "general"), ("Users", "users"), ("Plugins", "plugins"),
            ("Remote Accounts", "accounts"), ("Logs", "logs")]
            %}
            {% for section_name, fragment in admin_sections %}
            <a href="/management/{{fragment}}">
                <li
                    class="text-hoverable back-hoverable{% if loop.first %} options-list-top{% elif loop.last %} options-list-bottom{% endif %}">
                    {{section_name}}
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div id="adminDisplay">
        {% block panel_content %}
        <h3>Choose a section</h3>
        {% endblock %}
    </div>
</div>
{% endblock %}