{% extends 'base.j2' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin.css') }}" />
{% endblock %}

{% block body %}
<form method="post" action="/login{% if next %}?next={{ next }}{% endif %}">
    <label>Email:</label>
    <br>
    <input type="text" name="u">
    <br>
    <label>Password:</label>
    <br>
    <input type="password" name="p">
    <br>
    <br>
    <input type="submit" value="Login">
</form>
{% if error_message %}
<span>{{ error_message }}</span>
{% endif %}
{% endblock %}